<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>

<!-- Display success message -->
<div th:if="${param.success}" style="color: green;">
    User created successfully!
</div>

<form method="post" th:object="${userInsertDTO}">

    <div>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username" name="username" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" name="password"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
    </div>

    <div>
        <label for="role">Role:</label>
        <select th:field="*{role}" id="role">
            <option value="TEACHER">Teacher</option>
            <option value="STUDENT">Student</option>
            <option value="ADMIN">Admin</option>
        </select>
    </div>

    <button type="submit">Create User</button>
</form>
</body>
</html>